# Project exclude paths
/.gradle/
.gradle
.idea
build
#git rm -r -f --cached .
#git add .
#git commit -m "cache clear"
application-oauth.properties
application-oauth.yml
application-local-*.yml
application-db.yml